# Python
__pycache__/
*.py[cod]
*.pyo

# Mac system files
.DS_Store

# Model files
*.keras
*.h5
*.ckpt

# Output folders
predictions/
test_predictions/
*.csv

# Jupyter notebooks
.ipynb_checkpoints/

# Virtual environment
.venv/
env/
venv/

# VSCode or PyCharm
.vscode/
.idea/
